@model Models.ViewsModels.RoomViewModel
@{
    ViewBag.Title = "PasswordVerify";
}

<h2>Wpisz hasło do pokoju</h2>

@using (Html.BeginForm("PasswordVerify", "Home", FormMethod.Post))
{
    @Html.HiddenFor(x => x.SelectedRoom.Id)
    @Html.TextBoxFor(x => x.SelectedRoom.Password);
    <input type="submit" vaule="OK" />
}

